html {
    font-size: 20px;
    text-align: center;
}

body {
    margin: 0 auto;
}

header {
    text-align: center;
}

.question {
    margin: 0.25rem auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.question button {
    font-size: 15px;
    margin: 0.1rem auto 0.1rem 0;
}

#start-btn, #submit-btn {
    font-size: 1.25rem;
    padding: 0.4rem 0.75rem;
}